.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-self: center;
    grid-gap: 1em;
    a{
        text-decoration: none;
    }

    .card-detail{
        position: relative;
        height: 200px;
        width: 260px;
        align-self: center;
        padding: 0.2em;
        margin: 0.6em;
        background-size: cover;
        background-repeat: no-repeat;
        div{
        text-decoration: unset;
        font-size: 20px;
        color:white;

        }
        & > * {
            z-index: 1;
            position: relative;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,1,0.5);
    
        }
    }
}